        body {
            margin: 0;
            padding: 0;
        }
        
        body * {
            border: 1px solid black;
            font-family: sans-serif;
            color: white;
        }
        
        .container>div {
            /* display: inline-block; */
            /* margin: 2px;*/
            float: left;
        }
        
        .container {
            width: 100%;
            height: 600px;
            border: none;
        }
        
        .dash-board {
            width: 14%;
            height: 738px;
            padding-right: 1px;
            margin-left: 6px;
            border: 1px solid white;
            background-color: #292525;
            font-size: 14px;
            /* background-color: black; */
        }
        
        li {
            border: none;
        }
        
        .content {
            width: 85%;
            height: 738px;
            border: 1px solid #efefef;
            background-color: #d6d6d6;
            ;
            ;
        }
        
        .admin {
            width: 100%;
            height: 30px;
            text-align: center;
            background-color: #5592ab;
            border: 1px solid #5592ab;
            font-size: 18px;
        }
        /* .nav-bar {
width: 100%;
height: 100px;
} */
        /*profile style starts here  */
        
        .profile {
            width: 100%;
            height: 9%;
            background-color: #292525;
            border: none
        }
        
        .profile>div {
            display: inline-block;
            /* padding: 0;
margin: 0; */
        }
        
        .profile-pix {
            width: 15%;
            height: 29px;
            border-radius: 15px;
            margin-left: 7px;
            /* padding-left: 7px; */
        }
        
        .profile-name {
            width: 75%;
            height: 33px;
            color: rgba(245, 245, 245, 0.9);
            border: none
        }
        
        .profile input {
            border-radius: 5px;
            width: 90%;
            height: 24px;
            margin-left: 7px;
            background-color: #504d4d;
            border: none;
            font-size: 15px;
            padding-left: 5px;
        }
        
        .main-color {
            background-color: #151414;
            color: #777373;
            font-size: 14px;
        }
        /*for dash-board  */
        
        .dash-board li {
            list-style: none;
            padding-bottom: 4px;
            padding-top: 10px;
            padding-left: 7px;
        }
        
        ul {
            padding: 0;
            margin-top: 2px;
            margin-bottom: 0;
            border: none;
        }
        
        .icon {
            width: 100%;
            height: 7%;
            border: none;
        }
        
        .icon>div {
            display: inline-block;
        }
        
        .left {
            width: 65%;
            height: 26px;
            padding-left: 7px;
            border: none;
        }
        
        .icon1 {
            width: 9%;
            height: 20px;
            margin-left: 28px;
            border-radius: 5px;
            text-align: center;
        }
        
        .left1 {
            width: 60%;
            height: 26px;
            padding-left: 7px;
            border: none;
        }
        
        #green {
            width: 17%;
            background-color: #196919;
            border: 1px solid #196919;
        }
        /*profile style ends here  */
        /*styling date   */
        
        .date {
            width: 100%;
            height: 8%;
            border: none;
        }
        
        .date>div {
            display: inline-block;
        }
        
        .calendar {
            width: 50%;
            height: 26px;
            margin-right: 32px;
            padding-left: 7px;
            padding-top: 7px;
            border: none;
            /* border: none; */
        }
        
        .date1 {
            width: 10%;
            height: 20px;
            /* margin-left: 14px; */
            border-radius: 5px;
            text-align: center;
        }
        
        .mail {
            width: 40%;
            height: 26px;
            margin-right: 27px;
            padding-left: 7px;
            border: none;
        }
        
        .mail1 {
            width: 10%;
            height: 20px;
            border-radius: 5px;
            text-align: center;
        }
        /*styling the content from here  */
        
        .content-nav1 {
            width: 85%;
            height: 30px;
            background-color: #5fa1bb;
            border: 1px solid #5fa1bb;
            position: fixed;
            top: 0;
        }
        
        .content-nav1 li {
            display: inline-block;
            list-style: none;
            float: right;
            margin-right: 10px;
        }
        
        .content-nav1 ul {
            border: none
        }
        
        .raduis {
            border-radius: 5px;
            height: 11px;
            font-size: 11px;
        }
        
        .raduis1 {
            border-radius: 14px;
            height: 26px;
        }
        
        .content-nav2 {
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
            border: none;
        }
        
        .content-nav2 li {
            display: inline-block;
            list-style: none;
            margin-top: 5px;
            color: black;
            font-weight: bold;
        }
        
        .small-font {
            font-size: 13px;
            border: none;
        }
        
        .content-nav2-ul {
            border: none;
        }
        
        .content-nav2-dash ul {
            float: left;
        }
        
        .content-nav2-home ul {
            float: right;
        }
        /* .content-nav2-dash ul {
width: 50%;
} */
        
        .content-main {
            width: 1100px;
            margin: auto;
            height: 664px;
            border: none;
        }
        
        .center {
            width: 1100px;
            margin: auto;
            border: none;
            margin-bottom: 34px;
        }
        
        .content-main>div {
            display: inline-block;
            vertical-align: top;
        }
        
        .card {
            width: 23.83%;
            height: 111px;
            border-radius: 2px;
        }
        
        #card1 {
            margin-left: 10px;
            background-color: #4ba94ef7;
            border: 1px solid #4ba94ef7;
        }
        
        #card2 {
            margin-left: 10px;
            background-color: orange;
            border: 1px solid #e69a0e;
        }
        
        #card3 {
            margin-left: 10px;
            background-color: #de4444;
            border: 1px solid #de4444;
        }
        
        .data {
            margin-top: 10px;
        }
        
        p {
            margin: 0;
            border: none;
            padding-left: 10px;
            padding-top: 2px
        }
        
        .info {
            margin-top: 25px;
            text-align: center;
            border: none;
        }
        
        #sky {
            background-color: #52c6f5;
            border: 1px solid #52c6f5;
        }
        /*big guys  */
        
        .small {
            width: 42.72%;
            height: 250px;
            margin-left: 16px;
            margin-top: 15px;
            border-radius: 2px;
            background-color: #20a6dc;
            border: 1px solid #20a6dc;
            z-index: 250;
            z-index: 250;
            box-shadow: 5px 7px 5px #cec6c6;
        }
        
        .small:hover {
            box-shadow: 2px 1px #9a9595;
            transition: .2s;
        }
        
        #small-color {
            background-color: #8ee6de;
            border: 1px solid #8ee6de;
        }
        /*colors  */
        
        .big {
            width: 55%;
            height: 250px;
            margin-top: 15px;
            border-radius: 2px;
            border: 1px solid white;
            background-color: white;
            z-index: 100;
            z-index: 250;
            box-shadow: 5px 7px 5px #cec6c6;
        }
        
        .big:hover {
            box-shadow: 2px 1px #9a9595;
            transition: .2s;
        }
        
        #big-color {
            border-top: 2px solid #5abd5a;
        }
        
        #sky-blue {
            background-color: #20a6dc;
        }
        
        #greeny {
            background-color: #1c941c;
        }
        
        #yellow {
            background-color: #e69a0e;
        }
        
        #yellow1 {
            background-color: #e69a0e;
            border: 1px solid #e69a0e;
        }
        
        #red {
            background-color: #bb3939;
        }
        
        #blue {
            background-color: #6464d4;
            border: 1px solid #6464d4;
        }
        
        .bold {
            font-size: 30px;
            font-weight: bolder;
            color: white;
        }
        
        #green1 {
            background-color: #1c941c;
            border: 1px solid #1c941c;
        }
        
        a {
            text-decoration: none;
            border: none;
        }
        
        a:hover {
            color: #20d8df;
        }
        
        #orange1 {
            background-color: #de4444;
            border: 1px solid #de4444;
        }
        
        .list1 {
            width: 100.34%;
            height: 25px;
            margin-top: 205px;
            background-color: white;
            border: 1px solid white;
            border-radius: 2px;
            margin-left: -2px;
        }
        
        .list1 li {
            display: inline-block;
            text-decoration: none;
            color: black;
            padding-left: 82px;
        }
        
        .big>div {
            display: inline-block
        }
        
        .big-son {
            width: 88.6%;
            height: 25px;
            border: 1px solid #efefef;
        }
        
        .big-son1 {
            width: 10%;
            height: 25px;
            border: none;
            border-top: 2px solid #6c6ce0;
            text-align: center;
        }
        
        .big-son li {
            display: inline-block;
            text-decoration: none;
        }
        
        #area {
            color: black;
            border: none;
        }
        
        #donut {
            float: right;
            color: black;
            padding-right: 5px;
        }
        
        #sales {
            color: black;
            /* float: left; */
        }
        
        .chats {
            color: black;
        }
        
        .left-pix {
            width: 8%;
            height: 20%;
            border-radius: 25px;
            float: left;
            border: 1px solid #1c941c;
        }
        
        .right-content {
            width: 89%;
            height: 50%;
            border: none;
        }
        
        #chat1 {
            padding-bottom: 12px;
            padding-top: 5px;
        }
        
        #mgs {
            width: 90%;
            height: 45%;
            margin-left: 30px;
            background-color: #f5f3f3;
            border: none;
        }
        
        .user-color {
            color: #20a6dc;
        }
        
        .btn {
            float: right;
            position: relative;
            bottom: 30px;
            right: 30px;
            height: 28px;
            border: 1px solid #20a6dc;
            background-color: #20A6DC;
            cursor: pointer;
        }
        
        img {
            /* width: 100%; */
            height: 100%;
            border-radius: 25px;
            border: none;
        }
        
        .show {
            display: none;
        }
        
        .my-black a {
            color: black;
        }
        
        @media only screen and (max-width: 460px) {
            .dash-board {
                display: none;
            }
            .show {
                display: inline-block;
            }
            .dash-board:hover {
                display: inline-block
            }
            .show:hover {
                display: inline-block
            }
            .center {
                width: 400px;
                margin-left: 10px;
                margin-bottom: 34px;
                border: none;
            }
            .content {
                width: 100%;
            }
            .content-main {
                width: 100%;
            }
            .content-nav1 {
                width: 100%;
                height: 30px;
                background-color: #5fa1bb;
                border: 1px solid #5fa1bb;
                position: fixed;
            }
            .card {
                width: 46%;
                height: 110px;
                border-radius: 2px;
                margin-bottom: 10px;
                margin-left: 10px;
            }
            .small {
                width: 100%;
                height: 128px;
                margin-left: 0;
                margin-top: 15px;
                border-radius: 2px;
                background-color: #20a6dc;
                border: 1px solid #20a6dc;
                z-index: 250;
                z-index: 250;
                box-shadow: 5px 7px 5px #cec6c6;
            }
            .big {
                width: 100%;
                height: 195px;
                margin-top: 15px;
                border-radius: 2px;
                border: 1px solid white;
                background-color: white;
                z-index: 100;
                z-index: 250;
                box-shadow: 5px 7px 5px #cec6c6;
            }
            .list1 {
                width: 100.34%;
                height: 25px;
                margin-top: 83px;
                background-color: white;
                border: 1px solid white;
                border-radius: 2px;
                margin-left: -2px;
            }
            .big-son1 {
                width: 10%;
                height: 25px;
                border: none;
                border-top: 2px solid #6c6ce0;
                text-align: center;
            }
            .my-black a {
                color: black;
            }
        }
        
        @media only screen and (max-width: 362px) {
            #mgs {
                width: 82%;
                height: 43%;
                margin-left: 30px;
                background-color: #f5f3f3;
                border: none;
                color: black;
            }
            .btn {
                float: right;
                position: relative;
                bottom: 21px;
                right: 30px;
                height: 20px;
                border: 1px solid #20a6dc;
                background-color: #20A6DC;
                cursor: pointer;
            }
            .list1 li {
                display: inline-block;
                text-decoration: none;
                color: black;
                padding-left: 60px;
            }
            .big-son {
                width: 85.6%;
                height: 25px;
                border: 1px solid #efefef;
            }
            .center {
                width: 340px;
                margin-left: 10px;
                margin-bottom: 34px;
                border: none;
            }
            #card3 {
                margin-left: 6px;
                background-color: #de4444;
                border: 1px solid #de4444;
            }
            .card {
                width: 46%;
                height: 110px;
                border-radius: 2px;
                margin-bottom: 10px;
                margin-left: 8px;
            }
        }